{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Prices</h1>
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for price in prices %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ price.name }}</td>
                            <td>${{ price.price }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="3">No prices available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
