{% extends 'base.html' %}
{% load static %}

{% block title %}View Stock Details{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">View Stock Details</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Date Added</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ stock.product.name }}</td>
                                    <td>{{ stock.quantity }}</td>
                                    <td>{{ stock.date_added }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'manage_stock' %}" class="btn btn-primary btn-block">Back to Stock Management</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
